.categories__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--menu-bg-color);
  border-radius: 10px;
  height: 100px;
  padding: 1rem;
  margin: .5rem;
}

.task__number {
  color: var(--body-bg-color);
}

.category__business {
  accent-color: var(--category-business-color);
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
  border-radius: 20px;
  background-color: var(--menu-bg-color);
  margin: .5rem 0;
  height: 60px;
}

.task__status {
  margin: 0 .5rem;
}

.task__description {
  width: 90%;
}

.task__edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task__edit>i {
  margin-right: .5rem;
  color: var(--h5-color);
  cursor: pointer;
}

.fa-pen-to-square:hover {
  color: white;
}

.fa-square-check:hover {
  color: green;
}

.fa-trash-can:hover {
  color: red;
}

.task__done {
  color: var(--h5-color);
}

.task__done p {
  text-decoration: line-through;
}

i.category__business {
  color: var(--category-business-color);
}

i.category__personal {
  color: var(--category-personal-color);
}
