.login {
  height: 100%;
  padding: 2rem 0;
  margin: 0 auto;
}

.form__buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  width: 6rem;
  height: 2rem;
  color: var(--menu-bg-color);
  border-radius: 5px;
  border: 1px solid var(--body-bg-color);
  background-color: var(--body-bg-color);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.btn:hover {
  color: var(--body-bg-color);
  border: 1px solid var(--menu-bg-color);
  background-color: var(--menu-bg-color);
  cursor: pointer;
}

.btn:focus,
.input:focus {
  outline: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  border: solid 1px var(--body-bg-color);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input {
  background-color: var(--body-bg-color);
  border: none;
  border-radius: 5px;
  color: var(--menu-bg-color);
  padding: 12px 15px;
  margin: 8px 0;
  width: 50%;
}

.input::placeholder {
  color: var(--menu-bg-color);
}
